<div class="row">
	<div class="col s12 m6">
		<h3>Look up your local forecast</h3>
		<p><em>What's the weather like in your city?</em></p>
		<%= form_tag root_path do %>
			<div class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<%= text_field_tag :city, nil %>
						<%= label_tag(:city, "City Name") %>
					</div>
					<div class="input-field col s6">
						<%= select_tag :state, options_for_select(@states), prompt: "State" %>
					</div>
					<div>
						<%= button_tag(class: "btn") do %>
						Search<i class="material-icons right"></i>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>